body { 
    font-family: "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif; 
    font-size: 16px;
    line-height: 32px;
    margin:10px;
}


th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
}

span {
	font-size: 12px;
}

label {
	font-size: 12px;
}

#reglink { font-size: 12px;

}

.chat_history {
width: 50%;
height: 300px;
overflow: auto;
background-color: white;
border: solid 1px black;
padding: 12px;
font-size: 110%;
}

.chat_history span{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 90%;
vertical-align: baseline;
background: transparent;

}
.chat_history p{
font-size: .5em;
line-height: 1em;
margin: 0em 0em;

}